body{
    background-color: rgba(var(--bs-dark-rgb));
    background-size:cover;
    background-repeat:no-repeat;
    background-image: url("../images/background-img.jpg");
}

.dropdown-menu-dark{
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: 0 0 10px #000000;
}